@media (max-width: 768px) {
  .home-container {
    padding: 10px;
  }

  .intro-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .intro-text h1 {
    font-size: 1.2rem;
  }

  .intro-image img {
    width: 100%;
    height: auto;
  }
}
